/* Hero Section General */
.hero {
    background-color: #121212; /* Negro suave */
    color: #ffffff; /* Texto blanco */
    width: 100%;
    min-height: 100vh; /* Aumentar altura mínima */
    padding: 50px 20px;
    background: url('../assets/img/fondoinicio2.jpg');
    background-repeat: no-repeat; /* Evita el mosaico */
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    text-align: center;
    box-sizing: border-box;
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    color: #b0b0b0; /* Gris claro */
    margin: 10px 0 20px;
}

.btn-hero {
    display: inline-block;
    padding: 10px 20px;
    background-color: red; /* Gris oscuro */
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-hero:hover {
    cursor: pointer;
}

/* Rutinas Container */
.rutinas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Rutina Card */
.rutina-card {
    background-color: #1e1e1e; /* Gris oscuro */
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ajusta el tamaño máximo de la card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rutina-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}


.rutina-card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #ffffff;
}
.rutina-card p {
    font-size: 1em;
    color: #b0b0b0; /* Gris claro */
    margin-bottom: 15px;
}

.rutina-card ul {
    list-style: none;
    padding: 0;
    color: #d9d9d9; /* Gris más claro */
}

.rutina-card ul li {
    margin: 5px 0;
}

.rutina-card ul li strong {
    color: red;
}

/* Responsivo */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .btn-hero {
        font-size: 0.9rem;
    }

    .rutinas-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .rutina-card h3 {
        font-size: 1.2rem;
    }
}
